# Supabase
VITE_SUPABASE_URL=your-supabase-url
VITE_SUPABASE_ANON_KEY=your-supabase-anon-key

# Pseudo-Auth Codes
VITE_AUTH_ADMIN=admin
VITE_AUTH_USER1=molten
VITE_AUTH_USER2=kevirolo
VITE_AUTH_USER3=wargios
VITE_AUTH_USER4=gonpar
VITE_AUTH_USER5=dekker
